body{
    background-color: #2bb9b9;
    color: white;
    font-family: Roboto;
    text-align: center
}

h2{
    color:orange;
}
h1{
    color:red;
}
.texto-ingles{
    font-style: italic;
}
#nome-usuario{
    font-weight: bold;
}

footer{
    border-top: 1px solid grey;
}
header{
    border-top: 1px solid grey;
}

